body {
  margin: 0;
  min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #3f63ae;/*#9bb0db*/
  color:white;
  font-size: 18px;
  margin:5px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  margin:5px;
  background:#d5def0;
  color:black;
}

/* Darker background-color on hover */
ul li:hover {
  background: #253a66;/*#3f63ae*/
  color: #fff;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #253a66;
  color: #fff;
  margin:5px;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #253a66;
  margin:3px;
  border-style: solid;
  border-color: white;
  color: white;
}

/* Style the header */
.header {
  background-color: #253a66;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  border: none;
  width: 75%;
  padding: 2%;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding:1%;
  width: 25%;
  background: #3f63ae;
  color: #fff;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:hover {
  background-color: #9bb0db;
}